In [1]:
# Swing states
# PVI as reference (cross-validation, not target)
# Census and registration fields as features

In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import requests

%matplotlib inline

api_key = {'69ea5b146d71755552f7bf90f18e3df0119641fd'}
api_key

{'69ea5b146d71755552f7bf90f18e3df0119641fd'}

# Detail tables

In [4]:
# B01001_001E = Estimate!!Total
# B01001_002E = Estimate!!Total!!Male
# B01001_026E = Estimate!!Total!!Female

us16 = requests.get('https://api.census.gov/data/2016/acs/acs1?get=B01001_001E,B01001_002E,B01001_026E,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(us16.content)

[['B01001_001E', 'B01001_002E', 'B01001_026E', 'NAME', 'state'],
 ['4863300', '2356052', '2507248', 'Alabama', '01'],
 ['741894', '390573', '351321', 'Alaska', '02'],
 ['6931071', '3444228', '3486843', 'Arizona', '04'],
 ['2988248', '1468782', '1519466', 'Arkansas', '05'],
 ['39250017', '19491231', '19758786', 'California', '06'],
 ['5540545', '2790701', '2749844', 'Colorado', '08'],
 ['3576452', '1745153', '1831299', 'Connecticut', '09'],
 ['952065', '460232', '491833', 'Delaware', '10'],
 ['681170', '323591', '357579', 'District of Columbia', '11'],
 ['20612439', '10070860', '10541579', 'Florida', '12'],
 ['10310371', '5018150', '5292221', 'Georgia', '13'],
 ['1428557', '718057', '710500', 'Hawaii', '15'],
 ['1683140', '841203', '841937', 'Idaho', '16'],
 ['12801539', '6289724', '6511815', 'Illinois', '17'],
 ['6633053', '3267337', '3365716', 'Indiana', '18'],
 ['3134693', '1556668', '1578025', 'Iowa', '19'],
 ['2907289', '1448853', '1458436', 'Kansas', '20'],
 ['4436974', '2179814', '2257160', 'Kentucky', '21'],
 ['4681666', '2291880', '2389786', 'Louisiana', '22'],
 ['1331479', '650702', '680777', 'Maine', '23'],
 ['6016447', '2917773', '3098674', 'Maryland', '24'],
 ['6811779', '3305817', '3505962', 'Massachusetts', '25'],
 ['9928300', '4883220', '5045080', 'Michigan', '26'],
 ['5519952', '2747946', '2772006', 'Minnesota', '27'],
 ['2988726', '1440934', '1547792', 'Mississippi', '28'],
 ['6093000', '2994651', '3098349', 'Missouri', '29'],
 ['1042520', '526023', '516497', 'Montana', '30'],
 ['1907116', '950124', '956992', 'Nebraska', '31'],
 ['2940058', '1473153', '1466905', 'Nevada', '32'],
 ['1334795', '664722', '670073', 'New Hampshire', '33'],
 ['8944469', '4370211', '4574258', 'New Jersey', '34'],
 ['2081015', '1030224', '1050791', 'New Mexico', '35'],
 ['19745289', '9582050', '10163239', 'New York', '36'],
 ['10146788', '4933381', '5213407', 'North Carolina', '37'],
 ['757953', '390181', '367772', 'North Dakota', '38'],
 ['11614373', '5691600', '5922773', 'Ohio', '39'],
 ['3923561', '1943273', '1980288', 'Oklahoma', '40'],
 ['4093465', '2026038', '2067427', 'Oregon', '41'],
 ['12784227', '6262870', '6521357', 'Pennsylvania', '42'],
 ['1056426', '511358', '545068', 'Rhode Island', '44'],
 ['4961119', '2405343', '2555776', 'South Carolina', '45'],
 ['865454', '435668', '429786', 'South Dakota', '46'],
 ['6651194', '3247058', '3404136', 'Tennessee', '47'],
 ['27862596', '13830953', '14031643', 'Texas', '48'],
 ['3051217', '1538145', '1513072', 'Utah', '49'],
 ['624594', '307874', '316720', 'Vermont', '50'],
 ['8411808', '4135485', '4276323', 'Virginia', '51'],
 ['7288000', '3639726', '3648274', 'Washington', '53'],
 ['1831102', '900913', '930189', 'West Virginia', '54'],
 ['5778709', '2872921', '2905788', 'Wisconsin', '55'],
 ['585501', '298205', '287296', 'Wyoming', '56'],
 ['3411307', '1625567', '1785740', 'Puerto Rico', '72']]

In [5]:
states16_master = pd.DataFrame(json.loads(us16.content))
states16_master.head()

             0            1            2         3      4
0  B01001_001E  B01001_002E  B01001_026E      NAME  state
1      4863300      2356052      2507248   Alabama     01
2       741894       390573       351321    Alaska     02
3      6931071      3444228      3486843   Arizona     04
4      2988248      1468782      1519466  Arkansas     05

In [6]:
states16_master.tail()

          0        1        2              3   4
48  7288000  3639726  3648274     Washington  53
49  1831102   900913   930189  West Virginia  54
50  5778709  2872921  2905788      Wisconsin  55
51   585501   298205   287296        Wyoming  56
52  3411307  1625567  1785740    Puerto Rico  72

In [7]:
states16_master.columns = states16_master.iloc[0]
states16_master.drop([52], axis=0, inplace=True)
states16_master.drop(['state'], axis=1, inplace=True)
states16_master.reindex(states16_master.index.drop(0))

0  B01001_001E B01001_002E B01001_026E                  NAME
1      4863300     2356052     2507248               Alabama
2       741894      390573      351321                Alaska
3      6931071     3444228     3486843               Arizona
4      2988248     1468782     1519466              Arkansas
5     39250017    19491231    19758786            California
6      5540545     2790701     2749844              Colorado
7      3576452     1745153     1831299           Connecticut
8       952065      460232      491833              Delaware
9       681170      323591      357579  District of Columbia
10    20612439    10070860    10541579               Florida
11    10310371     5018150     5292221               Georgia
12     1428557      718057      710500                Hawaii
13     1683140      841203      841937                 Idaho
14    12801539     6289724     6511815              Illinois
15     6633053     3267337     3365716               Indiana
16     3134693     1556668     1578025                  Iowa
17     2907289     1448853     1458436                Kansas
18     4436974     2179814     2257160              Kentucky
19     4681666     2291880     2389786             Louisiana
20     1331479      650702      680777                 Maine
21     6016447     2917773     3098674              Maryland
22     6811779     3305817     3505962         Massachusetts
23     9928300     4883220     5045080              Michigan
24     5519952     2747946     2772006             Minnesota
25     2988726     1440934     1547792           Mississippi
26     6093000     2994651     3098349              Missouri
27     1042520      526023      516497               Montana
28     1907116      950124      956992              Nebraska
29     2940058     1473153     1466905                Nevada
30     1334795      664722      670073         New Hampshire
31     8944469     4370211     4574258            New Jersey
32     2081015     1030224     1050791            New Mexico
33    19745289     9582050    10163239              New York
34    10146788     4933381     5213407        North Carolina
35      757953      390181      367772          North Dakota
36    11614373     5691600     5922773                  Ohio
37     3923561     1943273     1980288              Oklahoma
38     4093465     2026038     2067427                Oregon
39    12784227     6262870     6521357          Pennsylvania
40     1056426      511358      545068          Rhode Island
41     4961119     2405343     2555776        South Carolina
42      865454      435668      429786          South Dakota
43     6651194     3247058     3404136             Tennessee
44    27862596    13830953    14031643                 Texas
45     3051217     1538145     1513072                  Utah
46      624594      307874      316720               Vermont
47     8411808     4135485     4276323              Virginia
48     7288000     3639726     3648274            Washington
49     1831102      900913      930189         West Virginia
50     5778709     2872921     2905788             Wisconsin
51      585501      298205      287296               Wyoming

In [8]:
states16_beta = pd.DataFrame(states16_master.reindex(states16_master.index.drop(0)))
states16_beta.columns = ['estimate total population', 'estimate male population', 'estimate female population', 'state']
states16 = pd.DataFrame(states16_beta[['state','estimate total population', 'estimate female population', 'estimate male population']])
states16

,state,estimate total population,estimate female population,estimate male population
1,Alabama,4863300,2507248,2356052
2,Alaska,741894,351321,390573
3,Arizona,6931071,3486843,3444228
4,Arkansas,2988248,1519466,1468782
5,California,39250017,19758786,19491231
6,Colorado,5540545,2749844,2790701
7,Connecticut,3576452,1831299,1745153
8,Delaware,952065,491833,460232
9,District of Columbia,681170,357579,323591
10,Florida,20612439,10541579,10070860
11,Georgia,10310371,5292221,5018150
12,Hawaii,1428557,710500,718057
13,Idaho,1683140,841937,841203
14,Illinois,12801539,6511815,6289724
15,Indiana,6633053,3365716,3267337
16,Iowa,3134693,1578025,1556668
17,Kansas,2907289,1458436,1448853
18,Kentucky,4436974,2257160,2179814
19,Louisiana,4681666,2389786,2291880
20,Maine,1331479,680777,650702
21,Maryland,6016447,3098674,2917773
22,Massachusetts,6811779,3505962,3305817
23,Michigan,9928300,5045080,4883220
24,Minnesota,5519952,2772006,2747946
25,Mississippi,2988726,1547792,1440934
26,Missouri,6093000,3098349,2994651
27,Montana,1042520,516497,526023
28,Nebraska,1907116,956992,950124
29,Nevada,2940058,1466905,1473153
30,New Hampshire,1334795,670073,664722
31,New Jersey,8944469,4574258,4370211
32,New Mexico,2081015,1050791,1030224
33,New York,19745289,10163239,9582050
34,North Carolina,10146788,5213407,4933381
35,North Dakota,757953,367772,390181
36,Ohio,11614373,5922773,5691600
37,Oklahoma,3923561,1980288,1943273
38,Oregon,4093465,2067427,2026038
39,Pennsylvania,12784227,6521357,6262870
40,Rhode Island,1056426,545068,511358
41,South Carolina,4961119,2555776,2405343
42,South Dakota,865454,429786,435668
43,Tennessee,6651194,3404136,3247058
44,Texas,27862596,14031643,13830953
45,Utah,3051217,1513072,1538145
46,Vermont,624594,316720,307874
47,Virginia,8411808,4276323,4135485
48,Washington,7288000,3648274,3639726
49,West Virginia,1831102,930189,900913
50,Wisconsin,5778709,2905788,2872921
51,Wyoming,585501,287296,298205

In [9]:
# DP02_0001PE = Estimate!!HOUSEHOLDS BY TYPE!!Total households
# DP02_0067PE = Percent!!EDUCATIONAL ATTAINMENT!!Percent bachelor's degree or higher
# DP02_0069PE = Percent!!VETERAN STATUS!!Civilian population 18 years and over!!Civilian veterans

#  detail = requests.get('https://api.census.gov/data/2016/acs/acs1/profile?get=DP02_0001PE,DP02_0067PE,DP02_0069PE,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
#  json.loads(detail.content)

In [10]:
us15 = requests.get('https://api.census.gov/data/2015/acs/acs1?get=B01001_001E,B01001_002E,B01001_026E,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(us15.content)

[['B01001_001E', 'B01001_002E', 'B01001_026E', 'NAME', 'state'],
 ['4858979', '2352810', '2506169', 'Alabama', '01'],
 ['738432', '388695', '349737', 'Alaska', '02'],
 ['6828065', '3387385', '3440680', 'Arizona', '04'],
 ['2978204', '1463576', '1514628', 'Arkansas', '05'],
 ['39144818', '19440558', '19704260', 'California', '06'],
 ['5456574', '2741020', '2715554', 'Colorado', '08'],
 ['3590886', '1752063', '1838823', 'Connecticut', '09'],
 ['945934', '458208', '487726', 'Delaware', '10'],
 ['672228', '319705', '352523', 'District of Columbia', '11'],
 ['20271272', '9891238', '10380034', 'Florida', '12'],
 ['10214860', '4975458', '5239402', 'Georgia', '13'],
 ['1431603', '724635', '706968', 'Hawaii', '15'],
 ['1654930', '826819', '828111', 'Idaho', '16'],
 ['12859995', '6310435', '6549560', 'Illinois', '17'],
 ['6619680', '3253089', '3366591', 'Indiana', '18'],
 ['3123899', '1549289', '1574610', 'Iowa', '19'],
 ['2911641', '1449224', '1462417', 'Kansas', '20'],
 ['4425092', '2174892', '2250200', 'Kentucky', '21'],
 ['4670724', '2286299', '2384425', 'Louisiana', '22'],
 ['1329328', '651030', '678298', 'Maine', '23'],
 ['6006401', '2912348', '3094053', 'Maryland', '24'],
 ['6794422', '3297384', '3497038', 'Massachusetts', '25'],
 ['9922576', '4877067', '5045509', 'Michigan', '26'],
 ['5489594', '2730030', '2759564', 'Minnesota', '27'],
 ['2992333', '1448495', '1543838', 'Mississippi', '28'],
 ['6083672', '2983645', '3100027', 'Missouri', '29'],
 ['1032949', '519026', '513923', 'Montana', '30'],
 ['1896190', '942589', '953601', 'Nebraska', '31'],
 ['2890845', '1447456', '1443389', 'Nevada', '32'],
 ['1330608', '657716', '672892', 'New Hampshire', '33'],
 ['8958013', '4374892', '4583121', 'New Jersey', '34'],
 ['2085109', '1035143', '1049966', 'New Mexico', '35'],
 ['19795791', '9616592', '10179199', 'New York', '36'],
 ['10042802', '4896006', '5146796', 'North Carolina', '37'],
 ['756928', '388152', '368776', 'North Dakota', '38'],
 ['11613423', '5683951', '5929472', 'Ohio', '39'],
 ['3911338', '1939555', '1971783', 'Oklahoma', '40'],
 ['4028977', '1992162', '2036815', 'Oregon', '41'],
 ['12802503', '6262246', '6540257', 'Pennsylvania', '42'],
 ['1056298', '511773', '544525', 'Rhode Island', '44'],
 ['4896146', '2385096', '2511050', 'South Carolina', '45'],
 ['858469', '431540', '426929', 'South Dakota', '46'],
 ['6600299', '3214689', '3385610', 'Tennessee', '47'],
 ['27469114', '13625413', '13843701', 'Texas', '48'],
 ['2995919', '1506383', '1489536', 'Utah', '49'],
 ['626042', '308552', '317490', 'Vermont', '50'],
 ['8382993', '4126326', '4256667', 'Virginia', '51'],
 ['7170351', '3585221', '3585130', 'Washington', '53'],
 ['1844128', '908559', '935569', 'West Virginia', '54'],
 ['5771337', '2868297', '2903040', 'Wisconsin', '55'],
 ['586107', '295102', '291005', 'Wyoming', '56'],
 ['3474182', '1657467', '1816715', 'Puerto Rico', '72']]

In [11]:
us14 = requests.get('https://api.census.gov/data/2014/acs1?get=B01001_001E,B01001_002E,B01001_026E,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(us14.content)

[['B01001_001E', 'B01001_002E', 'B01001_026E', 'NAME', 'state'],
 ['4849377', '2347969', '2501408', 'Alabama', '01'],
 ['736732', '385582', '351150', 'Alaska', '02'],
 ['6731484', '3342946', '3388538', 'Arizona', '04'],
 ['2966369', '1456778', '1509591', 'Arkansas', '05'],
 ['38802500', '19264457', '19538043', 'California', '06'],
 ['5355866', '2692599', '2663267', 'Colorado', '08'],
 ['3596677', '1754116', '1842561', 'Connecticut', '09'],
 ['935614', '454005', '481609', 'Delaware', '10'],
 ['658893', '312633', '346260', 'District of Columbia', '11'],
 ['19893297', '9722228', '10171069', 'Florida', '12'],
 ['10097343', '4921939', '5175404', 'Georgia', '13'],
 ['1419561', '717313', '702248', 'Hawaii', '15'],
 ['1634464', '817050', '817414', 'Idaho', '16'],
 ['12880580', '6320605', '6559975', 'Illinois', '17'],
 ['6596855', '3243979', '3352876', 'Indiana', '18'],
 ['3107126', '1544801', '1562325', 'Iowa', '19'],
 ['2904021', '1444945', '1459076', 'Kansas', '20'],
 ['4413457', '2174158', '2239299', 'Kentucky', '21'],
 ['4649676', '2272116', '2377560', 'Louisiana', '22'],
 ['1330089', '647622', '682467', 'Maine', '23'],
 ['5976407', '2896033', '3080374', 'Maryland', '24'],
 ['6745408', '3269679', '3475729', 'Massachusetts', '25'],
 ['9909877', '4865257', '5044620', 'Michigan', '26'],
 ['5457173', '2712823', '2744350', 'Minnesota', '27'],
 ['2994079', '1457828', '1536251', 'Mississippi', '28'],
 ['6063589', '2970513', '3093076', 'Missouri', '29'],
 ['1023579', '513409', '510170', 'Montana', '30'],
 ['1881503', '936197', '945306', 'Nebraska', '31'],
 ['2839099', '1426744', '1412355', 'Nevada', '32'],
 ['1326813', '654814', '671999', 'New Hampshire', '33'],
 ['8938175', '4363391', '4574784', 'New Jersey', '34'],
 ['2085572', '1032779', '1052793', 'New Mexico', '35'],
 ['19746227', '9574309', '10171918', 'New York', '36'],
 ['9943964', '4842403', '5101561', 'North Carolina', '37'],
 ['739482', '376324', '363158', 'North Dakota', '38'],
 ['11594163', '5676586', '5917577', 'Ohio', '39'],
 ['3878051', '1920562', '1957489', 'Oklahoma', '40'],
 ['3970239', '1964293', '2005946', 'Oregon', '41'],
 ['12787209', '6253250', '6533959', 'Pennsylvania', '42'],
 ['1055173', '511650', '543523', 'Rhode Island', '44'],
 ['4832482', '2351359', '2481123', 'South Carolina', '45'],
 ['853175', '427381', '425794', 'South Dakota', '46'],
 ['6549352', '3190199', '3359153', 'Tennessee', '47'],
 ['26956958', '13384317', '13572641', 'Texas', '48'],
 ['2942902', '1479527', '1463375', 'Utah', '49'],
 ['626562', '308516', '318046', 'Vermont', '50'],
 ['8326289', '4092671', '4233618', 'Virginia', '51'],
 ['7061530', '3529597', '3531933', 'Washington', '53'],
 ['1850326', '914686', '935640', 'West Virginia', '54'],
 ['5757564', '2857982', '2899582', 'Wisconsin', '55'],
 ['584153', '297181', '286972', 'Wyoming', '56'],
 ['3548397', '1704416', '1843981', 'Puerto Rico', '72']]

In [12]:
us13 = requests.get('https://api.census.gov/data/2013/acs1?get=B01001_001E,B01001_002E,B01001_026E,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(us13.content)

[['B01001_001E', 'B01001_002E', 'B01001_026E', 'NAME', 'state'],
 ['4833722', '2341869', '2491853', 'Alabama', '01'],
 ['735132', '386404', '348728', 'Alaska', '02'],
 ['6626624', '3298086', '3328538', 'Arizona', '04'],
 ['2959373', '1461544', '1497829', 'Arkansas', '05'],
 ['38332521', '19072246', '19260275', 'California', '06'],
 ['5268367', '2645976', '2622391', 'Colorado', '08'],
 ['3596080', '1751883', '1844197', 'Connecticut', '09'],
 ['925749', '447789', '477960', 'Delaware', '10'],
 ['646449', '306147', '340302', 'District of Columbia', '11'],
 ['19552860', '9565609', '9987251', 'Florida', '12'],
 ['9992167', '4879034', '5113133', 'Georgia', '13'],
 ['1404054', '710917', '693137', 'Hawaii', '15'],
 ['1612136', '810879', '801257', 'Idaho', '16'],
 ['12882135', '6326778', '6555357', 'Illinois', '17'],
 ['6570902', '3228884', '3342018', 'Indiana', '18'],
 ['3090416', '1528770', '1561646', 'Iowa', '19'],
 ['2893957', '1440481', '1453476', 'Kansas', '20'],
 ['4395295', '2163067', '2232228', 'Kentucky', '21'],
 ['4625470', '2256464', '2369006', 'Louisiana', '22'],
 ['1328302', '649994', '678308', 'Maine', '23'],
 ['5928814', '2875157', '3053657', 'Maryland', '24'],
 ['6692824', '3245774', '3447050', 'Massachusetts', '25'],
 ['9895622', '4858138', '5037484', 'Michigan', '26'],
 ['5420380', '2690694', '2729686', 'Minnesota', '27'],
 ['2991207', '1451232', '1539975', 'Mississippi', '28'],
 ['6044171', '2960402', '3083769', 'Missouri', '29'],
 ['1015165', '507018', '508147', 'Montana', '30'],
 ['1868516', '925274', '943242', 'Nebraska', '31'],
 ['2790136', '1403068', '1387068', 'Nevada', '32'],
 ['1323459', '652662', '670797', 'New Hampshire', '33'],
 ['8899339', '4343749', '4555590', 'New Jersey', '34'],
 ['2085287', '1034144', '1051143', 'New Mexico', '35'],
 ['19651127', '9536179', '10114948', 'New York', '36'],
 ['9848060', '4795976', '5052084', 'North Carolina', '37'],
 ['723393', '369155', '354238', 'North Dakota', '38'],
 ['11570808', '5658223', '5912585', 'Ohio', '39'],
 ['3850568', '1906922', '1943646', 'Oklahoma', '40'],
 ['3930065', '1946196', '1983869', 'Oregon', '41'],
 ['12773801', '6243308', '6530493', 'Pennsylvania', '42'],
 ['1051511', '512999', '538512', 'Rhode Island', '44'],
 ['4774839', '2321179', '2453660', 'South Carolina', '45'],
 ['844877', '424160', '420717', 'South Dakota', '46'],
 ['6495978', '3174148', '3321830', 'Tennessee', '47'],
 ['26448193', '13145494', '13302699', 'Texas', '48'],
 ['2900872', '1458758', '1442114', 'Utah', '49'],
 ['626630', '308672', '317958', 'Vermont', '50'],
 ['8260405', '4060533', '4199872', 'Virginia', '51'],
 ['6971406', '3475830', '3495576', 'Washington', '53'],
 ['1854304', '916834', '937470', 'West Virginia', '54'],
 ['5742713', '2855502', '2887211', 'Wisconsin', '55'],
 ['582658', '297497', '285161', 'Wyoming', '56'],
 ['3615086', '1729120', '1885966', 'Puerto Rico', '72']]

In [13]:
us12 = requests.get('https://api.census.gov/data/2012/acs1?get=B01001_001E,B01001_002E,B01001_026E,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(us12.content)

[['B01001_001E', 'B01001_002E', 'B01001_026E', 'NAME', 'state'],
 ['4822023', '2336291', '2485732', 'Alabama', '01'],
 ['731449', '381094', '350355', 'Alaska', '02'],
 ['6553255', '3260687', '3292568', 'Arizona', '04'],
 ['2949131', '1449265', '1499866', 'Arkansas', '05'],
 ['38041430', '18917773', '19123657', 'California', '06'],
 ['5187582', '2601370', '2586212', 'Colorado', '08'],
 ['3590347', '1749806', '1840541', 'Connecticut', '09'],
 ['917092', '444691', '472401', 'Delaware', '10'],
 ['632323', '299036', '333287', 'District of Columbia', '11'],
 ['19317568', '9441001', '9876567', 'Florida', '12'],
 ['9919945', '4851053', '5068892', 'Georgia', '13'],
 ['1392313', '701196', '691117', 'Hawaii', '15'],
 ['1595728', '798712', '797016', 'Idaho', '16'],
 ['12875255', '6316653', '6558602', 'Illinois', '17'],
 ['6537334', '3217145', '3320189', 'Indiana', '18'],
 ['3074186', '1524107', '1550079', 'Iowa', '19'],
 ['2885905', '1434617', '1451288', 'Kansas', '20'],
 ['4380415', '2154939', '2225476', 'Kentucky', '21'],
 ['4601893', '2248888', '2353005', 'Louisiana', '22'],
 ['1329192', '650714', '678478', 'Maine', '23'],
 ['5884563', '2849291', '3035272', 'Maryland', '24'],
 ['6646144', '3219753', '3426391', 'Massachusetts', '25'],
 ['9883360', '4851429', '5031931', 'Michigan', '26'],
 ['5379139', '2670741', '2708398', 'Minnesota', '27'],
 ['2984926', '1442072', '1542854', 'Mississippi', '28'],
 ['6021988', '2953591', '3068397', 'Missouri', '29'],
 ['1005141', '503458', '501683', 'Montana', '30'],
 ['1855525', '923099', '932426', 'Nebraska', '31'],
 ['2758931', '1391864', '1367067', 'Nevada', '32'],
 ['1320718', '648288', '672430', 'New Hampshire', '33'],
 ['8864590', '4321436', '4543154', 'New Jersey', '34'],
 ['2085538', '1034877', '1050661', 'New Mexico', '35'],
 ['19570261', '9485872', '10084389', 'New York', '36'],
 ['9752073', '4751047', '5001026', 'North Carolina', '37'],
 ['699628', '357591', '342037', 'North Dakota', '38'],
 ['11544225', '5642634', '5901591', 'Ohio', '39'],
 ['3814820', '1889807', '1925013', 'Oklahoma', '40'],
 ['3899353', '1932789', '1966564', 'Oregon', '41'],
 ['12763536', '6229333', '6534203', 'Pennsylvania', '42'],
 ['1050292', '506835', '543457', 'Rhode Island', '44'],
 ['4723723', '2295781', '2427942', 'South Carolina', '45'],
 ['833354', '417803', '415551', 'South Dakota', '46'],
 ['6456243', '3144756', '3311487', 'Tennessee', '47'],
 ['26059203', '12945218', '13113985', 'Texas', '48'],
 ['2855287', '1435028', '1420259', 'Utah', '49'],
 ['626011', '309184', '316827', 'Vermont', '50'],
 ['8185867', '4015045', '4170822', 'Virginia', '51'],
 ['6897012', '3441429', '3455583', 'Washington', '53'],
 ['1855413', '911681', '943732', 'West Virginia', '54'],
 ['5726398', '2842737', '2883661', 'Wisconsin', '55'],
 ['576412', '292736', '283676', 'Wyoming', '56'],
 ['3667084', '1757273', '1909811', 'Puerto Rico', '72']]

In [14]:
us11b = requests.get('https://api.census.gov/data/2011/acs1?get=B01001_001E,B01001_002E,B01001_026E,NAME&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(us11b.content)

{'@context': 'https://project-open-data.cio.gov/v1.1/schema/catalog.jsonld',
 '@id': 'https://api.census.gov/data/2011/acs1/cd113.json',
 '@type': 'dcat:Catalog',
 'conformsTo': 'https://project-open-data.cio.gov/v1.1/schema',
 'dataset': [{'@type': 'dcat:Dataset',
   'accessLevel': 'public',
   'bureauCode': ['006:07'],
   'c_dataset': ['acs1', 'cd113'],
   'c_documentationLink': 'http://www.census.gov/developer/',
   'c_examplesLink': 'https://api.census.gov/data/2011/acs1/cd113/examples.json',
   'c_geographyLink': 'https://api.census.gov/data/2011/acs1/cd113/geography.json',
   'c_groupsLink': 'https://api.census.gov/data/2011/acs1/cd113/groups.json',
   'c_isAggregate': True,
   'c_isAvailable': True,
   'c_validValuesLink': 'https://api.census.gov/data/2011/acs1/cd113/validValues.json',
   'c_variablesLink': 'https://api.census.gov/data/2011/acs1/cd113/variables.json',
   'c_vintage': 2011,
   'contactPoint': {'fn': 'American Community Survey Office',
    'hasEmail': 'acso.users.support@census.gov'},
   'description': "The American Community Survey (ACS) is a nationwide survey designed to provide communities a fresh look at how they are changing. The ACS replaced the decennial census long form in 2010 and thereafter by collecting long form type information throughout the decade rather than only once every 10 years. Questionnaires are mailed to a sample of addresses to obtain information about households -- that is, about each person and the housing unit itself. The American Community Survey produces demographic, social, housing and economic estimates in the form of 1-year, 3-year and 5-year estimates based on population thresholds. The strength of the ACS is in estimating population and housing characteristics.  The 3-year data provide key estimates for each of the topic areas covered by the ACS for the nation, all 50 states, the District of Columbia, Puerto Rico, every congressional district, every metropolitan area, and all counties and places with populations of 20,000 or more.  Although the ACS produces population, demographic and housing unit estimates,it is the Census Bureau's Population Estimates Program that produces and disseminates the official estimates of the population for the nation, states, counties, cities and towns, and estimates of housing units for states and counties. For 2010 and other decennial census years, the Decennial Census provides the official counts of population and housing units.",
   'distribution': [{'@type': 'dcat:Distribution',
     'accessURL': 'https://api.census.gov/data/2011/acs1/cd113',
     'description': 'API endpoint',
     'format': 'API',
     'mediaType': 'application/json',
     'title': 'API endpoint'}],
   'identifier': 'http://api.census.gov/data/id/ACSCD1132011',
   'license': 'http://creativecommons.org/publicdomain/zero/1.0/',
   'modified': '2014-10-06',
   'programCode': ['006:004'],
   'publisher': {'@type': 'org:Organization',
    'name': 'U.S. Census Bureau',
    'subOrganizationOf': {'@type': 'org:Organization',
     'name': 'U.S. Department Of Commerce',
     'subOrganizationOf': {'@type': 'org:Organization',
      'name': 'U.S. Government'}}},
   'references': ['http://www.census.gov/developers/'],
   'spatial': 'United States',
   'temporal': '2011/2011',
   'title': '2011 American Community Survey 1-Year Profiles for the 113th Congressional Districts'}],
 'describedBy': 'https://project-open-data.cio.gov/v1.1/schema/catalog.json'}

In [15]:
states15_master = pd.DataFrame(json.loads(us15.content))

states15_master.columns = states15_master.iloc[0]
states15_master.drop([52], axis=0, inplace=True)
states15_master.drop(['state'], axis=1, inplace=True)
states15_master.reindex(states15_master.index.drop(0))

states15_beta = pd.DataFrame(states15_master.reindex(states15_master.index.drop(0)))
states15_beta.columns = ['estimate total population', 'estimate male population', 'estimate female population', 'state']
states15 = pd.DataFrame(states15_beta[['state','estimate total population', 'estimate female population', 'estimate male population']])

In [16]:
states14_master = pd.DataFrame(json.loads(us14.content))

states14_master.columns = states14_master.iloc[0]
states14_master.drop([52], axis=0, inplace=True)
states14_master.drop(['state'], axis=1, inplace=True)
states14_master.reindex(states14_master.index.drop(0))

states14_beta = pd.DataFrame(states14_master.reindex(states14_master.index.drop(0)))
states14_beta.columns = ['estimate total population', 'estimate male population', 'estimate female population', 'state']
states14 = pd.DataFrame(states14_beta[['state','estimate total population', 'estimate female population', 'estimate male population']])

In [17]:
states13_master = pd.DataFrame(json.loads(us13.content))

states13_master.columns = states13_master.iloc[0]
states13_master.drop([52], axis=0, inplace=True)
states13_master.drop(['state'], axis=1, inplace=True)
states13_master.reindex(states13_master.index.drop(0))

states13_beta = pd.DataFrame(states13_master.reindex(states13_master.index.drop(0)))
states13_beta.columns = ['estimate total population', 'estimate male population', 'estimate female population', 'state']
states13 = pd.DataFrame(states13_beta[['state','estimate total population', 'estimate female population', 'estimate male population']])

In [18]:
states12_master = pd.DataFrame(json.loads(us12.content))

states12_master.columns = states12_master.iloc[0]
states12_master.drop([52], axis=0, inplace=True)
states12_master.drop(['state'], axis=1, inplace=True)
states12_master.reindex(states12_master.index.drop(0))

states12_beta = pd.DataFrame(states12_master.reindex(states12_master.index.drop(0)))
states12_beta.columns = ['estimate total population', 'estimate male population', 'estimate female population', 'state']
states12 = pd.DataFrame(states12_beta[['state','estimate total population', 'estimate female population', 'estimate male population']])

In [19]:
states1216_master = pd.concat([states16, states15, states14, states13, states12], axis=0)
states1216_master

,state,estimate total population,estimate female population,estimate male population
1,Alabama,4863300,2507248,2356052
2,Alaska,741894,351321,390573
3,Arizona,6931071,3486843,3444228
4,Arkansas,2988248,1519466,1468782
5,California,39250017,19758786,19491231
6,Colorado,5540545,2749844,2790701
7,Connecticut,3576452,1831299,1745153
8,Delaware,952065,491833,460232
9,District of Columbia,681170,357579,323591
10,Florida,20612439,10541579,10070860
11,Georgia,10310371,5292221,5018150
12,Hawaii,1428557,710500,718057
13,Idaho,1683140,841937,841203
14,Illinois,12801539,6511815,6289724
15,Indiana,6633053,3365716,3267337
16,Iowa,3134693,1578025,1556668
17,Kansas,2907289,1458436,1448853
18,Kentucky,4436974,2257160,2179814
19,Louisiana,4681666,2389786,2291880
20,Maine,1331479,680777,650702
21,Maryland,6016447,3098674,2917773
22,Massachusetts,6811779,3505962,3305817
23,Michigan,9928300,5045080,4883220
24,Minnesota,5519952,2772006,2747946
25,Mississippi,2988726,1547792,1440934
26,Missouri,6093000,3098349,2994651
27,Montana,1042520,516497,526023
28,Nebraska,1907116,956992,950124
29,Nevada,2940058,1466905,1473153
30,New Hampshire,1334795,670073,664722
...,...,...,...,...
22,Massachusetts,6646144,3426391,3219753
23,Michigan,9883360,5031931,4851429
24,Minnesota,5379139,2708398,2670741
25,Mississippi,2984926,1542854,1442072
26,Missouri,6021988,3068397,2953591
27,Montana,1005141,501683,503458
28,Nebraska,1855525,932426,923099
29,Nevada,2758931,1367067,1391864
30,New Hampshire,1320718,672430,648288
31,New Jersey,8864590,4543154,4321436
32,New Mexico,2085538,1050661,1034877
33,New York,19570261,10084389,9485872
34,North Carolina,9752073,5001026,4751047
35,North Dakota,699628,342037,357591
36,Ohio,11544225,5901591,5642634
37,Oklahoma,3814820,1925013,1889807
38,Oregon,3899353,1966564,1932789
39,Pennsylvania,12763536,6534203,6229333
40,Rhode Island,1050292,543457,506835
41,South Carolina,4723723,2427942,2295781
42,South Dakota,833354,415551,417803
43,Tennessee,6456243,3311487,3144756
44,Texas,26059203,13113985,12945218
45,Utah,2855287,1420259,1435028
46,Vermont,626011,316827,309184
47,Virginia,8185867,4170822,4015045
48,Washington,6897012,3455583,3441429
49,West Virginia,1855413,943732,911681
50,Wisconsin,5726398,2883661,2842737
51,Wyoming,576412,283676,292736

# Data profile

In [20]:
dp16 = requests.get('https://api.census.gov/data/2016/acs/acs1/profile/groups?get=&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(dp16.content)

{'groups': [{'description': 'SELECTED SOCIAL CHARACTERISTICS IN THE UNITED STATES',
   'name': 'DP02',
   'variables': 'https://api.census.gov/data/2016/acs/acs1/profile/groups/DP02.json'},
  {'description': 'SELECTED ECONOMIC CHARACTERISTICS',
   'name': 'DP03',
   'variables': 'https://api.census.gov/data/2016/acs/acs1/profile/groups/DP03.json'},
  {'description': 'ACS DEMOGRAPHIC AND HOUSING ESTIMATES',
   'name': 'DP05',
   'variables': 'https://api.census.gov/data/2016/acs/acs1/profile/groups/DP05.json'},
  {'description': 'SELECTED HOUSING CHARACTERISTICS',
   'name': 'DP04',
   'variables': 'https://api.census.gov/data/2016/acs/acs1/profile/groups/DP04.json'},
  {'description': 'SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO',
   'name': 'DP02PR',
   'variables': 'https://api.census.gov/data/2016/acs/acs1/profile/groups/DP02PR.json'}]}

In [32]:
dp16groups = requests.get('https://api.census.gov/data/2016/acs/acs1/profile/groups/DP02.json?get=&for=state:*&key=69ea5b146d71755552f7bf90f18e3df0119641fd')
json.loads(dp16groups.content)
dp16variables = json.loads(dp16groups.content)
dp16variables = pd.DataFrame.from_dict(dp16variables, orient='columns').T
dp16variables

,DP02PR_0001E,DP02PR_0001EA,DP02PR_0001M,DP02PR_0001MA,DP02PR_0001PE,DP02PR_0001PEA,DP02PR_0001PM,DP02PR_0001PMA,DP02PR_0002E,DP02PR_0002EA,...,DP02_0151PM,DP02_0151PMA,DP02_0152E,DP02_0152EA,DP02_0152M,DP02_0152MA,DP02_0152PE,DP02_0152PEA,DP02_0152PM,DP02_0152PMA
variables,{'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total...,{'label': 'Annotation of Estimate!!HOUSEHOLDS ...,{'label': 'Margin of Error!!HOUSEHOLDS BY TYPE...,{'label': 'Annotation of Margin of Error!!HOUS...,{'label': 'Percent!!HOUSEHOLDS BY TYPE!!Total ...,{'label': 'Annotation of Percent!!HOUSEHOLDS B...,{'label': 'Percent Margin of Error!!HOUSEHOLDS...,{'label': 'Annotation of Percent Margin of Err...,{'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total...,{'label': 'Annotation of Estimate!!HOUSEHOLDS ...,...,{'label': 'Percent Margin of Error!!COMPUTERS ...,{'label': 'Annotation of Percent Margin of Err...,{'label': 'Estimate!!COMPUTERS AND INTERNET US...,{'label': 'Annotation of Estimate!!COMPUTERS A...,{'label': 'Margin of Error!!COMPUTERS AND INTE...,{'label': 'Annotation of Margin of Error!!COMP...,{'label': 'Percent!!COMPUTERS AND INTERNET USE...,{'label': 'Annotation of Percent!!COMPUTERS AN...,{'label': 'Percent Margin of Error!!COMPUTERS ...,{'label': 'Annotation of Percent Margin of Err...

In [33]:
dp16variablest.values

array([[ {'label': 'Estimate!!HOUSEHOLDS BY TYPE!!Total households', 'concept': 'SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO', 'predicateType': 'int', 'group': 'DP02PR', 'limit': 0, 'predicateOnly': True},
        {'label': 'Annotation of Estimate!!HOUSEHOLDS BY TYPE!!Total households', 'predicateType': 'string', 'group': 'DP02PR', 'limit': 0, 'predicateOnly': True},
        {'label': 'Margin of Error!!HOUSEHOLDS BY TYPE!!Total households', 'concept': 'SELECTED SOCIAL CHARACTERISTICS IN PUERTO RICO', 'predicateType': 'int', 'group': 'DP02PR', 'limit': 0, 'predicateOnly': True},
        ...,
        {'label': 'Annotation of Percent!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription', 'predicateType': 'string', 'group': 'DP02', 'limit': 0, 'predicateOnly': True},
        {'label': 'Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription', 'concept': 'SELECTED SOCIAL CHARACTERISTICS IN THE UNITED STATES', 'predicateType': 'int', 'group': 'DP02', 'limit': 0, 'predicateOnly': True},
        {'label': 'Annotation of Percent Margin of Error!!COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription', 'predicateType': 'string', 'group': 'DP02', 'limit': 0, 'predicateOnly': True}]], dtype=object)